# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Credentials
credentials/
.credentials/

# Data
yt-video-metadata/

# Notebooks
notebooks/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Misc
.ruff_cache/
.DS_Store
